@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    overflow-x: hidden;
    background: rgba(225, 255, 255, );
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* barre de navigation */
nav{
    background: white;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-around;
   align-items: center;
   height: 80px;
   z-index: 1;  
}

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 40px;
    }

    ul li #a{
        font-size: 30px;

     }
     
     nav p{ 
        margin-left: 20px;
    }
    
    .a{color: #050621;
         font-family:'Inter', sans-serif;
        text-decoration: none; 
    }
    
     .a:hover{
        
        text-decoration: underline;
       transition: 0.5s;
       transform:skew(0.5) ;
    }

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: #03045F;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
         box-shadow: 1px 1px 1px 1px ;
    }

    .deconect{
        text-decoration: none; color: white;
        font-family:'Inter', sans-serif;
    }
    button:hover{
        scale: 1.05;
     }
     /* fin nav */

     .ilustration{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: 550px;
        position: relative;
        top: 150px;
        background: url(../../image/ART_C001_PCE_331_2_20221208200622.png);
        background-size: cover;
        background-position: center;
        border-radius: 15px;
       
     }
     
     .ilustration p{
        text-align: center;
        position: absolute;
        top: 200px;
        font-size: 35px;
        font-family:'Inter', sans-serif;
        color: white;
        font-weight: bold;
       
        
     }


     .section1{
     width: 100%;
     }
  
     .position{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
        
      
     }
  
      .apropos{
          width: 400px;
          height: 300px;
          background-size: cover;
          background-position: center;
          margin-top: 250px;
         
      }
      .objectif{
        margin-top: 150px;
          margin-left: 50px;
      }
      .objectif .p{
          font-size: 30px;
          font-weight: bold;
          color: #050621;
          font-family:'Inter', sans-serif;
      }
       .objectif .definition{
          margin-top: 40px;
          font-family:'Inter', sans-serif;
          font-size: 18px;
         
      }

     .cardre{
         margin-top: 300px;
          width: 100%;
          display: flex;
          justify-content: center;


     }
     .sujet{
        width: 300px;
        height: 300px;
        background: white;
        margin-left: 30px;
        border-radius: 20px;
        display: flex;
       justify-content: center;
       text-align: center;
       box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.732), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       border: 1px solid #CA970c;
     }

      
   .text {
        text-align: center;
      
        width: 250px;
   }
   .text p{
    text-align: justify;
    margin-top: 20px;

   }

   footer{
    background: #050621;
    width: 100%;
    height: 500px;
   }

   
