@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    overflow-x: hidden;
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* barre de navigation */
nav{
    background:#007BE5;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;  
}

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 40px;
    }

    ul li #a{
        font-size: 25px;

     }
     
     nav p{ 
        margin-left: 20px;
    }
    
    a{ font-family:'Inter', sans-serif;
        text-decoration: none;
        
    }
    
     #a:hover{
        color: rgba(255, 255, 255, 0.76);
       
    }

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: #03045F;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
         box-shadow: 1px 1px 1px 1px ;
    }

    .deconect{ color: white;
        font-family:'Inter', sans-serif;
    }
    button:hover{
        scale: 1.05;
     }
     /* fin nav */

     .ilustration{
        position: relative;
        top: 150px;
        left: 60%;
        width: 450px;
        height: 450px;
        background: url(../../image/istockphoto-1319766088-612x612.jpeg);
        background-size: cover;
        border-radius: 15px;
     }
     .blocdetext {
      
        width: 30%;
        margin-left: 20%;
        margin-top: -100px;
      
     }
     .blocdetext p{

        font-size: 30px;
        font-family:'Inter', sans-serif;
     }