@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background:  #050621;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 80px;
  background: white;
  box-shadow: 1px 1px 1px 1px;
  z-index: 1;

}

nav ul {
  list-style-type: none;
}

.onglet ul .deroulant {
  display: inline;
  /* width: 25%; */
  margin-right: 60px;
  text-align: center;
  font-size: 18px;
  font-family:'Inter', sans-serif;
}

.onglet ul::after {
  content: "";
  display: table;
  clear: both;
}

.onglet a {
  display: block;
  text-decoration: none;
  color: #050321;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.onglet a:hover {
  color: #CA970c;
  border-bottom: 2px solid;
}

.active {
  color: #CA970c;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background: rgb(108, 14, 14);
}

.onglet>ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  white-space: 100%;
  text-align: center;
  /* text-align: left; */
}

.sous a {
  text-align: center;
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background: #ccc;
}

.sous {
  text-align: center;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 200px;
  z-index: 1000;
}

.onglet ul li {
  float: left;
  /* width: 25%; */
  text-align: center;
  position: relative;
}

.logo img {
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

/* responsivité */
@media screen and (max-width:1058px) {

  .logo img {
      display: block;
  }

  .onglet ul {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 90px;
      left: 100%;
      background: white;
      transition: all .5s;
      /* background: #55ca0c;   */
  }

   .onglet  .deroulant {
       display: block;

  }
  
  
  #check:checked~ ul {
      left: 0;
      margin-top: 10px;
  }

}

  /* fin nav */

    /* partie budget */
    .permier{
      position: relative;
      top: 100px;
    }

    .somme{
      margin-left: 50px;
      padding: 10px;
      text-align: center;
      width: 20%;
      height: 80px;
      background: white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.732), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    }
    
    .somme span{
      font-size: 28px;
      font-weight: bold;
      
    }
    .somme .totale{
      margin-top: 10px;
      font-size: 18px;
      color: red;
    }
    

    .monBudget{
      
      
     }
    
     .p{
        font-size: 40px;
        color: white;
        text-decoration: underline;
        text-align: center;
        font-family:'Inter', sans-serif;
    
     }
    
    .formulaire{
         width: 100%;
         display: flex;
         justify-content: center;    
    }
    
    .renseign{
      width: 40%;
      height: auto;
      border:1px solid #CA970C;
      background: white;
      margin-top: 60px;
      margin-bottom: 50px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.732), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    }
    
    .formulaire p{
      margin-top: 20px;
      text-align: center;
      color: #050621;
      font-size: 30px;
      margin-bottom: 20px;
      font-family:'Inter', sans-serif;
    }
    
    input{
      padding: 10px;
      width: 50%;
      outline: none;
      border: 1px solid #CA970C;
      border-radius: 8px;
    }
    
    .enregistrement{
      
      text-align: center;
      /* width: 50%;
     margin-top: 10px; */
      
    }
    #envoie{
      width: 100px;
      background: #050621;
      color: white;
      border: none;
      outline: none;
      font-family:'Inter', sans-serif;
      margin-bottom: 10px;
    }
      .lesdepenses{
          margin-top: 30px; 
      }
      
      .depensefixe{
        width: 100%;
        display: flex;
       justify-content: center;
       margin-top: 50px;
       /* margin-bottom: 50px;
       margin-left: 200px; */
     
      }
    
      .fixe{
        background: white;
        border-collapse: collapse;
        border: 2px solid #CA970C;
        width: 60%;
        padding: 10px;
        box-shadow:0 5px 50px ;
      }
      
      .fixe thead{
       background: white;
      
      }
     
      .fixe thead th{
       padding: 10px;
       font-size: 20px;
       font-family:'Inter', sans-serif;
       background: #050621;
       color: white;
      }
      .fixe tr, td{
       padding: 15px 20px;
       text-align:center;
       font-family:'Inter', sans-serif;
      }
     
      .fixe tbody td{
       /* border: 1px solid  #CA970C; */
      }
      .fixe tbody tr:nth-child(even){
       background-color: #dcbf6e;
      }
     
      footer{
        margin-top: 250px;
         background: #030303;
         width: 100%;
         max-width: 100%;
         height: 180px;
         padding: 0px 50px;
        }
     
        footer .icones{
        
         display:flex;
         justify-content:center;
         padding:60px 10px
        }
     
        footer .icones .icone{
         margin-left: 30px;
        }
     
        footer p{
         color: white;
         text-align: center;
         margin-top: -50px;
         font-size: 18px;
         font-family:'Inter', sans-serif;
        }
     