body{
    margin: 0 auto;
    padding: 0;
    
    }
    
    
    
      #sidebarre{
    position: fixed;
    background: #dedff3;
    height: 100vh;
    min-width: 150px;
    text-align: left;
    }
    ul li{
        list-style-type: none;
        margin-bottom: 10px;
    }
    li a{
        text-decoration: none;
        color: #050621;
       
        text-align: left;
    }
    .active{
        color: #595f03;
    }

   
    .permier{
        margin-left: 200px;
       
    }
    .tableau{
       
    }


    .monBudget{
         display: flex;
         justify-content: space-between;
         align-items: center;
        overflow: auto;
        margin-bottom: 30px;
        height: 50px;
    }
    .monBudget button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-right: 80px;
        border-radius: 20px;
        border: none;
        
    }
    .monBudget button a{
       text-decoration: none;

    }

    .monBudget p{
       font-size: 20px;
    }
    
    .budget{
        margin-top: 50px;
        border: none;
    }

    #unité{
        border: 1px solid ;
       
    }
    td{
       padding: 10Px;
       font-size: 20px;
       background:rgb(205, 206, 231)1;
       
    }
   /* partie des depenses */

    .lesdepenses{
        margin-top: 30px;
    }
    

    .depensefixe{
     margin-bottom: 50px;
    }

   .fixe{
    width: 100%;
    background: #dfdff0;
    padding: 10px;
   }

    .depenseoccasionnelle{
        margin-bottom: 50px;
    }

    .occasion{
        width: 100%;
        padding: 10px;
    }

    .depensecourant{
      

    }

    .courant{
        width: 100%;
        padding: 10px; 
    }
    
    