@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgba(225, 255, 255, );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 80px;
  background: white;
  box-shadow: 1px 1px 1px 1px;
  z-index: 1;

}

nav ul {
  list-style-type: none;
}

.onglet ul .deroulant {
  display: inline;
  /* width: 25%; */
  margin-right: 60px;
  text-align: center;
  font-size: 18px;
  font-family:'Inter', sans-serif;
}

.onglet ul::after {
  content: "";
  display: table;
  clear: both;
}

.onglet a {
  display: block;
  text-decoration: none;
  color: #050321;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.onglet a:hover {
  color: #CA970c;
  border-bottom: 2px solid;
}

.active {
  color: #CA970c;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background: rgb(108, 14, 14);
}

.onglet>ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  white-space: 100%;
  text-align: center;
  /* text-align: left; */
}

.sous a {
  text-align: center;
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background: #ccc;
}

.sous {
  text-align: center;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 200px;
  z-index: 1000;
}

.onglet ul li {
  float: left;
  /* width: 25%; */
  text-align: center;
  position: relative;
}

.logo img {
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

/* responsivité */
@media screen and (max-width:1058px) {

  .logo img {
      display: block;
  }

  .onglet ul .deroulant {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 90px;
      left: 100%;
      transition: all .5s;
      /* background: #55ca0c;   */
  }

   .onglet  .deroulant {
       display: block;

  }
  
  
  #check:checked~ ul {
      left: 0;
      margin-top: 10px;
  }

}

/* fin navbarre */

 .connexion{position: absolute;
    margin-top:100px;
    display: flex;
    justify-content: center;
    width: 100%;
} 
 .profile{
    width: 40%;
   /* width: 600px; */
  height: auto;
  background: pink;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} 
.photo{
    margin-left: 10px;
 margin-top: 10px;
 margin-bottom: 20px;
}
.image{
    width: 200px;
    height: 200px;
    background: url(../../image/tumblr_308deb3b72cb79eb6e87876cf9f1949e_e8f432a0_500.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 300px;
}
.elements{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.elements h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.elements label{
  font-family:'Inter', sans-serif; 

}
.inscription{
  
}

input{
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #CA970c; 
    text-align: center; 
}
select{
    width: 100%;
    padding: 8px; 
    outline: none;
    border: 1px solid #CA970c;
    
}
button{
    margin-top: 20px;
    padding: 5px;
    background: #050321;
    color: white;
    font-family:'Inter', sans-serif;

}
