@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #050321;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    background: white;
    box-shadow: 1px 1px 1px 1px;
    z-index: 1;

}

nav ul {
    list-style-type: none;
}

.onglet ul .deroulant {
    display: inline;
    /* width: 25%; */
    margin-right: 60px;
    text-align: center;
    font-size: 18px;
    font-family:'Inter', sans-serif;
}

.onglet ul::after {
    content: "";
    display: table;
    clear: both;
}

.onglet a {
    display: block;
    text-decoration: none;
    color: #050321;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.onglet a:hover {
    color: #CA970c;
    border-bottom: 2px solid;
}

.active {
    color: #CA970c;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background: rgb(108, 14, 14);
}

.onglet>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    white-space: 100%;
    text-align: center;
    /* text-align: left; */
}

.sous a {
    text-align: center;
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background: #ccc;
}

.sous {
    text-align: center;
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200px;
    z-index: 1000;
}

.onglet ul li {
    float: left;
    /* width: 25%; */
    text-align: center;
    position: relative;
}

.logo img {
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

/* responsivité */
@media screen and (max-width:1058px) {

    .logo img {
        display: block;
    }

    .onglet ul {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: 100%;
        transition: all .5s;
        background: white;
        /* background: #55ca0c;   */
    }

     .onglet  .deroulant {
         display: block;


    }
    
    
    #check:checked~ ul {
        left: 0;
        margin-top: 10px;
    }

}

/* fin de responsivité */

.tableau{
    width: 100%;
    position: relative;
    top: 100px;
    left: 50px;
}
.bord{
    display: flex;
}

.totaleRevenue {
   width: 25%;
   height: 220px;
   background: white;
   border-radius: 20px;
   text-align: center;
   padding: 60px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.732), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}

.totaleRevenue p{
    font-size: 25px;
    font-family:'Inter', sans-serif;
    margin-bottom: 20px;
}

.totaleRevenue span{
  margin-top: 20px;
  color: #050321;

}

.totaleDepense {
    margin-left: 30px;
    width: 25%;
    height: 220px;
    background: white;
    border-radius: 20px;
    text-align: center;
    padding: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.732), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
 }


